@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lexend';
  src: url('./assets/fonts/lexend/Lexend-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "M PLUS Code Latin";
  font-optical-sizing: auto;
  src: url('./assets/fonts/MPLUSCodeLatin/MPLUSCodeLatin-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}


:root {


 --first-color:        #be024e;    /* rosa fuerte (ya lo usas, mantenlo) */
--second-color:       #3c00a0;    /* púrpura brillante (contraste visual) */

--first-color-alt:    #ff6a8b;    /* rosa más claro para hover o botones suaves */
--second-color-alt:   #7645ff;    /* lavanda intensa para acentos secundarios */

--text-color:         #eaeaf2;    /* blanco azulado suave */
--sub-text-color:     #afafb3; 
  --body-color: #0f0f1a;
  --second-body-color: #0a0a11;	
  --thirty-body-color: #040407;	
}


body.dark-theme {
  --header-height: 55px;
  --first-color: #7B0D4B;
  /* Color principal */
  --second-color: #D7266E;
  /* Color secundario vibrante */
  --first-color-alt: #5A0837;
  /* Versión más oscura del principal */
  --second-color-alt: #F77CA0;
  /* Versión más clara y suave del secundario */
  --body-color: #ffffff;
  /* Fondo blanco */
  --text-color: #111111;
  /* Texto principal oscuro */
  --sub-text-color: #5f5f5f;
  /* Texto secundario gris oscuro */
}



.biggest-font-size {
  font-size: 2rem;
}

.h1-font-size {
  font-size: 1.5rem;
}

.h2-font-size {
  font-size: 1.25rem;
}

.h3-font-size {
  font-size: 1rem;
}

.normal-font-size {
  font-size: 0.938rem;
}

.small-font-size {
  font-size: 0.813rem;
}

.smaller-font-size {
  font-size: 0.75rem;
}






html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: 'Lexend', sans-serif;
  /*font-family: var(--body-font);*/
  /*font-size: var(--normal-font-size);*/
  background-color: var(--body-color);
  color: var(--text-color);
  overflow-x: hidden;
  width: 100%;
  /* Cambiado */

}


*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
  padding-inline: 7%;
  /*background-color: red;*/
}


.container-w-full {
  width: 100vw;
}


.container-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  /* Mejor manejo de columnas */
  /*gap: 4rem;
  /*background-color: green;*/
}

/* 
@media (min-width: 992px) {
  .container-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 991px) {
  .container-row {
    grid-template-columns: 1fr;
  }
}
*/
/* 
1036 dos columna
991 una columna
988 dos columnas

*/
.grid-info-header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


.grid-services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
  /* Mejor manejo de columnas */
}


.grid-projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
  /* Mejor manejo de columnas */
  /*background-color: #D7266E;*/
  gap: 2rem;
  padding: 1rem;
}


.div-nav {
  background: rgba(0, 0, 0, 0.58);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.8px);
  -webkit-backdrop-filter: blur(11.8px);
  border: 1px solid rgba(0, 0, 0, 0.23);

}


.box-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.item-li:hover {
  background: var(--second-body-color);
  color: var(--first-color);
}



.bg-gra {
 background: linear-gradient(135deg, #be024e, #ff7d7d, #2e0249);
}

.bg-gra-2 {
  background: linear-gradient(to right, #be024e, #ff6ec4, #2b2d42);
}

.bg-gra-3{
  background: linear-gradient(135deg, #be024e, #ff6a8b, #3c005a);

}

/* 
.fade{
  background: linear-gradient(
    to right,
    #0a0a11 0%,
    transparent 7%,
    transparent 95%,
    #0f0f1a 100%
  );
}
*/






.bg-cristal {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.6px);
  -webkit-backdrop-filter: blur(11.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg-gran {
  background: linear-gradient(135deg, #64FFDA, #FFB9EE, #7B61FF);
}



.blur-bg,
.blur-bg-2,
.blur-bg-3,
.blur-bg-4 {
  position: absolute;
  width: 700px;
  height: 700px;
  z-index: 0;
  filter: blur(150px);
}

.blur-bg {
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at center, rgba(100, 255, 255, 0.15), transparent 70%);
}

.blur-bg-2,
.blur-bg-4 {
  top: 10%;
  right: 0;
  background: radial-gradient(circle at center, rgba(128, 0, 128, 0.4), transparent 70%);
}

.blur-bg-4 {
  background: radial-gradient(circle at center, rgba(56, 0, 56, 0.4), transparent 70%);
}


.blur-bg-3 {
  top: 10%;
  right: 0;
  background: radial-gradient(circle at top right, rgba(34, 102, 175, 0.2), transparent 70%);
}




@media (max-width: 700px) {

  .blur-bg,
  .blur-bg-2,
  .blur-bg-3,
  .blur-bg-4 {
    width: 120vw;
    height: 120vw;
    filter: blur(80px);
  }

  .blur-bg {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .blur-bg-2,
  .blur-bg-3,
  .blur-bg-4 {
    top: 20%;
    right: 10%;
  }
}





.vertical-timeline::before {
  background: var(--first-color) !important;
}




.typewriter {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: typing 4s ease-in-out forwards, blink-caret 0.7s step-end infinite;

  width: 0ch;
  /* comienza sin letras visibles */
}

@keyframes typing {
  from {
    width: 0ch;
  }

  to {
    width: 6ch;
    /* cambia este número según la cantidad de caracteres */
  }
}

@keyframes blink-caret {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}




.background-shape {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: blur(30px);
  animation: pulse 2.5s ease-in-out infinite;
  z-index: -1;
  max-height: 580px;
  max-width: 580px;
}

/* Animación de palpitación */
@keyframes pulse {

  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.9;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
}


.img-user {
  mask-image: linear-gradient(to bottom, var(--body-color) 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, var(--body-color) 80%, transparent 100%);

  max-height: 560px;
  max-width: 560px;
}


.rounded-circular {
  border-radius: 50%;
}

/* Estilos base (para móviles por defecto) */
/* Tablet (≥ 600px) */
@media (min-width: 600px) {
  .container {
    padding-inline: 7%;
    /*background-color: blue;*/
  }
}

/* Tablet horizontal / Laptop pequeño (≥ 768px) */
@media (min-width: 768px) {}

/* Laptop / Desktop (≥ 992px) */
@media (min-width: 992px) {
  .container {
    padding-inline: 7%;
    /*background-color: orange;*/
  }



  .biggest-font-size {
    font-size: 3rem;
  }

  .h1-font-size {
    font-size: 2.25rem;
  }

  .h2-font-size {
    font-size: 1.5rem;
  }

  .h3-font-size {
    font-size: 1.25rem;
  }

  .normal-font-size {
    font-size: 1rem;
  }

  .small-font-size {
    font-size: 0.875rem;
  }

  .smaller-font-size {
    font-size: 0.813rem;
  }
}

/* Desktop grande (≥ 1200px) */
@media (min-width: 1200px) {
  .container {
    padding-inline: 7%;
  }
}

/* Pantallas extra grandes (≥ 1400px) */
@media (min-width: 1400px) {

  .container {
    padding-inline: 7%;
  }

}